body {
    padding-top: 0;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
.hero-section {
    min-height: 200px;
    position: relative;
    z-index: 1;
}
.hero-section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-section .container-fluid {
    position: relative;
    z-index: 2;
}
.conteudo {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
main {
    flex: 1;
}
.player-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.player-card:hover {
    transform: scale(1.05);
}

.player-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ffffff;
}
.footer-full-width {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    overflow-x: hidden;
}
.footer-text {
    color: rgb(180, 180, 180);
}
.formulario {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.formulario > * {
    position: relative;
    z-index: 1;
}
.formulario2 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.formulario2 > * {
    position: relative;
    z-index: 1;
}
.shadow-top {
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
}
.event-img-top {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}